{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-black"><strong>Aliya's Flask/Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/9-25-22-pic3.jpeg') }}" alt="Python Development" height="310">
                    <div class="card-body">
                    <h5 class="card-title">About <mark>Me</mark>!</h5>
                    <p class="card-text">
                        <ol>
                            <li>I'm Aliya and I'm in 10th grade</li>
                            <li>I have two cats, Apollo and Luca</li>
                            <li>I love spending time with my friends and family :)</li>
                            <li>Some of my hobbies are painting, drawing, and baking</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/9-25-22-pic1.jpeg') }}" alt="Flask Development" height="310">
                    <div class="card-body">
                    <h5 class="card-title">Why am I taking <mark>Computer Science</mark> Principles?</h5>
                    <p class="card-text">
                        <ol>
                            <li>I find it interesting and want to expand my knowledge in this area</li>
                            <li>I want to major in computer science</li>
                            <li>I know how useful computer science is in the world</li>
                            <li>I want to challenge myself</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('static', filename='assets/9-25-22-pic5.jpeg') }}" alt="Backend and Persistence" height="310">
                    <div class="card-body">
                    <h5 class="card-title">My top songs/artists!</h5>
                    <p class="card-text">
                        <ol>
                            <li>Duster</li>
                            <li>Lamp</li>
                            <li>Mac Demarco</li>
                            <li>Let You Break My Heart Again - Laufey</li>
                        </ol>
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}